/*light theme */
[data-theme="light"] {
  /* Backgrounds */
  --color-bg-base: #ffffff;
  --color-bg-surface: #ffffff;
  --color-bg-subtle: #eeeeee;
  --color-bg-inverse: #3d85c6;
  --color-overlay: rgba(255, 255, 255, 0.1);

  /* Text */
  --color-text-primary: #111111;
  --color-text-secondary: #6b7280;
  --color-text-inverse: #ffffff;
  --color-brand: #1e3a8a;

  /* Accents/Borders */
  --color-accent: #00b7ff;
  --color-border: #d1d5db;
  --color-border-strong: #9ca3af;
  --color-grid: rgba(107, 114, 128, 0.1);
  --color-reactflow-grid: #c1bfbf;

  /* Monaco Editor Highlight */
  --monaco-highlight-bg: rgba(255, 255, 0, 0.3);
  /* Popup */
  --color-popup-header-bg: #f3f4f6;
}

[data-theme="dark"] {
  /* Backgrounds */
  --color-bg-base: #3d3d3d;
  --color-bg-surface: #1a1a1a;
  --color-bg-subtle: #242424;
  --color-bg-inverse: #3d3d3d;
  --color-overlay: rgba(0, 0, 0, 0.5);

  /* Text */
  --color-text-primary: #f0f0f0;
  --color-text-secondary: #ffffff;
  --color-text-inverse: #ffffff;
  --color-brand: #ffffff;

  /* Accents/Borders */
  --color-accent: #00b7ff;
  --color-border: #444444;
  --color-border-strong: #666666;
  --color-grid: rgba(255, 255, 255, 0.05);
  --color-reactflow-grid: #ffffff;

  /* Monaco Editor Highlight */
  --monaco-highlight-bg: rgba(255, 255, 0, 0.1);
  /* Popup */
  --color-popup-header-bg: #1f1f1f;
}

.monaco-highlight-line {
  background-color: var(--monaco-highlight-bg);
  width: 100% !important;
}
/* Smooth transition for editor panel toggle ï¿½ only when triggered by button */
.panel-animating [data-panel] {
  transition:
    flex-basis 300ms ease,
    flex-grow 300ms ease;
}
