body {
  background-color: var(--color-bg-base);
}

.visualize {
  background-color: var(--color-bg-base);
  background-image:
    linear-gradient(to right, var(--color-grid) 0.1px, transparent 1px),
    linear-gradient(to bottom, var(--color-grid) 0.1px, transparent 1px);
  background-size: 30px 30px;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}
